.btn-send-message-container {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 50px;
  /* position: relative; */
}

.btn-send-message {
  /* position: absolute;
    right: 0; */
  /* float: right; */
}
