.mdl-list__item--three-line {
  height: 128px;
}

@media (min-width: 1901px) {
  .project-members-table-box {
    padding-right: 30px;
  }
}

@media (max-width: 1900px) {
  .c-content-contact-1>.row .c-body {
    padding: 60px 20px;
  }

  .needs-reg {
    font-size: 12px;
  }

  .visits-box {
    margin-right: 30px;
  }

  .advices-project-box {
    width: 50%;
  }

  .questions-project-box {
    width: 50%;
    padding-right: 30px;
  }

  #calendar {
    padding: 55px;
  }
}

@media (max-width: 1440px) {
  .c-content-contact-1>.row .c-body {
    padding: 20px 10px;
  }

  .needs-reg {
    font-size: 12px;
  }

  .visits-box {
    margin-right: 30px;
  }

  .advices-project-box {
    width: 50%;
  }

  .questions-project-box {
    width: 50%;
    padding-right: 30px;
  }

  #calendar {
    padding: 55px;
  }
}

@media (max-width: 1200px) {
  .project-members-table-box {
    padding-right: 30px;
  }

  .col-lg-4 {
    width: 41.66666667%;
  }

  .col-lg-8 {
    width: 58.33333333%;
  }

  .c-content-contact-1>.row .c-body {
    padding: 20px 20px;
    margin: 60px 5px 40px 0;
  }

  #pills-pricing .row {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1120px) {
  .visits-box {
    margin-right: 15px;
  }
}

@media(max-width: 991px) {
  .project-members-table-box {
    padding-right: 15px;
  }

  .promoting-container-mobile {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }

  #button-send-all-message {
    margin-bottom: 10px;
  }

  .button-schedule-a-meeting {
    margin-bottom: 10px;
  }

  .button-container {
    flex-direction: column;
  }

  .advices-project-box {
    width: 100%;
  }

  .questions-project-box {
    width: 100%;
    padding-right: 15px;
  }

  .questions-project-list {
    margin-left: 0px;
  }

  .advices-project-list {
    margin-left: 0px;
  }

  #calendar {
    padding-right: 5px;
    padding-left: 5px;
  }

  .footer-distributed {
    padding-right: 70px;
    padding-left: 70px;
  }

  .lobilist-wrapper {
    margin-right: 0px;
    padding-left: 0px;
  }

  .regulate-this-mobile {
    margin-right: 0px;
    margin-left: 0px;
  }

  #visits-box-container {
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 40px;
  }

  .highcharts-container {
    width: 100% !important;
  }

  .smaller-collumn {
    display: flex;
    width: 100%;
    padding-left: 35px;
    /* padding-right: 35px; */
    justify-content: center;
    flex-direction: column;
  }

  .header-text-finance {
    text-align: center;
    margin-top: 20px !important;
  }

  .paypal-button {
    display: flex;
    justify-content: center;
  }

  #join-project {
    margin-right: 200px;
    margin-left: 200px;
  }

  #send-question {
    margin-top: 20px !important;
    margin-right: 200px;
    margin-left: 200px;
  }

  #send-advice {
    margin-top: 20px !important;
    margin-right: 200px;
    margin-left: 200px;
  }

  .project-needs {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .project-needs>li {
    display: inline-block;
    text-align: center;
  }

  .project-members {
    list-style: none;
    padding-left: 0px;
    text-align: center;
  }

  .project-description {
    width: 100%;
    padding-right: 35px;
    padding-left: 50px;
  }

  .progress {
    margin-right: 0px;
  }

  .c-body {
    display: none;
    width: 41%;
    margin-right: 40px !important;
    margin-top: 60px !important;
  }

  .col-lg-4 {
    display: flex;
    justify-content: flex-end;
  }

  .hide-mobile-2 {
    display: none;
  }
}

@media(max-width: 900px) {
  .fsmr {
    word-break: break-all;
  }
}

@media(max-width: 767px) {
  .col-sm-2 {
    padding-left: 35px;
  }

  .smaller-picture {
    height: auto;
  }

  #project-cover-photo-img {
    height: auto;
  }

  #join-project {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
  }

  #send-question {
    margin-right: 100px;
    margin-left: 100px;
  }

  #send-advice {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media(max-width: 600px) {
  #project-name {
    flex-direction: column !important;
  }
}

@media(max-width: 540px) {
  #join-project {
    margin-right: 50px;
    margin-left: 50px;
  }

  #send-question {
    margin-right: 50px;
    margin-left: 50px;
  }

  #send-advice {
    margin-right: 50px;
    margin-left: 50px;
  }

  .about-a {
    font-size: 10px;
  }
}

@media(max-width: 440px) {
  #join-project {
    margin-right: 5px;
    margin-left: 5px;
  }

  #send-question {
    margin-right: 5px;
    margin-left: 5px;
  }

  #send-advice {
    margin-right: 5px;
    margin-left: 5px;
  }

  .c-body {
    display: none;
  }
}

@media(max-width: 505px) {
  .mdl-list__item--three-line {
    height: 218px;
    display: flex;
    align-items: baseline;
  }

  .fsmr {
    font-size: 10px;
  }

  .footer-distributed {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

@media(max-width: 360px) {
  .fsmr {
    font-size: 9px;
  }
}