<!doctype html>
<html class="no-js" lang="bg">

<head>
</head>

<body data-spy="scroll" data-target="#primary-menu">
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100" th:fragment="header">
        <div class="container animated fadeInDown changeBelow1280">
            <div class="navbar-header changeBelow1280-1" style="display: flex;justify-content: center;">
                <div>
                    <img class="logo-image width100" src="/static/images/logo3.png" alt="squadknowhow logo" style="margin-top: 5px;height: 83px;padding-bottom: 5px;">
                    <a href="/" class="navbar-brand logo logo-text">
                        <h2>squadknowhow</h2>
                    </a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right regulator">
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#home-page">
                            <i class="fas fa-home"></i> Начало</a>
                    </li>
                    <li>
                        <a id="feature-link" href="#feature-page">
                            <i class="fas fa-code"></i> Функции</a>
                    </li>
                    <li>
                        <a href="#service-page">
                            <i class="fas fa-info"></i> Как работи?</a>
                    </li>
                    <li>
                        <a href="#faq-page">
                            <i class="fas fa-question"></i> Въпроси</a>
                    </li>
                    <li>
                        <a href="#contact-page">
                            <i class="fas fa-phone"></i> Контакти</a>
                    </li>
                    <li th:classappend="${module == 'people' ? 'active' : ''}">
                        <a href="/people">
                            <i class="fas fa-users"></i> Търсещи</a>
                    </li>
                    <li th:classappend="${module == 'projects' ? 'active' : ''}">
                        <a href="/projects">
                            <i class="fas fa-list-ul"></i> Проекти</a>
                    </li>
                    <li th:classappend="${module == 'groups' ? 'active' : ''}">
                        <a href="/groups" class="has-divider">
                            <i class="fas fa-expand"></i> Групи</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>