<!doctype html>
<html class="no-js" lang="bg" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Hristian Iliev">
    <meta name="keywords" content="Squad,Team,Organize">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Създай проект - SquadKnowHow</title>

    <!-- Tab-icon -->
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="/static/images/favicon.ico" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/themify-icons.css">

    <!-- Animations -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Material-design-bootstrap -->
    <link rel="stylesheet" href="/static/css/mdb.min.css">

    <!-- Popups -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">

    <!-- Wizard-with-steps -->
    <link rel="stylesheet" href="/static/css/smart_wizard_theme_arrows.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/smart_wizard.css" type="text/css" />

    <!-- Radio-buttons -->
    <link rel="stylesheet" href="/static/css/switchery.css" />

    <!-- Popups -->
    <link rel="stylesheet" href="/static/css/iziToast.min.css">

    <!-- Jquery-UI -->
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">

    <!-- Uploader-for-pictures -->
    <link rel="stylesheet" href="/static/css/fine-uploader-gallery-create-project.css">

    <!-- Notifications -->
    <link rel="stylesheet" href="/static/css/notifications.css">

    <!-- Model Dialogs -->
    <link rel="stylesheet" href="/static/css/vex.css" />
    <link rel="stylesheet" href="/static/css/vex-theme-default.css" />

    <!-- Main-css -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body th:id="'user-id_' + ${user.getId()}" data-spy="scroll" class="gray-bg-my-profile">

    <!-- Loading-indicator -->
    <div th:replace="fragments/preloader :: preloader"></div>

    <div th:replace="fragments/headerSignedIn :: header('projects')">
    </div>

    <!-- Wizard-for-creating -->
    <div class="card card-for-bg">
        <div class="card-body">
            <div id="smartwizard">
                <ul class="steps">
                    <li>
                        <a href="#step-1">Име на проекта
                            <br />
                            <small>Добави кратко и ясно име на проекта ти</small>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">Детайли
                            <br />
                            <small>Опиши своя проект</small>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">Снимки
                            <br />
                            <small>Добави снимки</small>
                        </a>
                    </li>
                </ul>

                <div>
                    <div id="step-1" class="">
                        <div class="md-form form-lg form-margins">
                            <i id="projectNameIcon" class="fa fa-buysellads prefix fa-7x"></i>
                            <input id="projectName" type="text" class="form-control">
                            <label id="projectNameLabel" for="projectName">Име на проекта ти*</label>
                            <small id="projectNameHelp" class="form-text text-muted">
                                Минимум 5 символа.
                            </small>
                        </div>

                        <div class="md-form form-lg form-margins">
                            <i id="locationIcon" class="fa fa-location-arrow prefix fa-5x"></i>
                            <input id="location" type="text" class="form-control">
                            <label id="locationLabel" for="location">Град</label>
                        </div>
                    </div>
                    <div id="step-2" class="">
                        <div class="form-margins">
                            Проектът ти се нуждае от:
                            <div class="checkbox-padding">
                                <input id="needsProgrammer" type="checkbox" class="js-switch" /> Програмист
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsDesigner" type="checkbox" class="js-switch" /> Дизайнер
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsEngineer" type="checkbox" class="js-switch" /> Инженер
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsWriter" type="checkbox" class="js-switch" /> Писател
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsScientist" type="checkbox" class="js-switch" /> Учен
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsMusician" type="checkbox" class="js-switch" /> Музикант
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsFilmmaker" type="checkbox" class="js-switch" /> Режисьор
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsProductManager" type="checkbox" class="js-switch" /> Продуктов мениджър
                            </div>
                            <div class="checkbox-padding">
                                <input id="needsArtist" type="checkbox" class="js-switch" /> Художник
                            </div>
                            <div class="md-form form-lg">
                                <textarea id="textareaBasic" type="text" class="form-control md-textarea" rows="9" aria-describedby="passwordHelpBlockMD"></textarea>
                                <label id="textareaBasicLabel" for="textareaBasic">Описанието на проекта *</label>
                                <small id="passwordHelpBlockMD" class="form-text text-muted">
                                    Тук можеш да опишеш какво представлява проекта ти, защо го създаваш и с какво ти е нужна помощ. Колкото по-подробно е описанието,
                                    толкова по-лесно ще намериш свои сътрудници по проекта. Минимум 150 символа.
                                </small>
                            </div>
                            <div class="md-form form-lg">
                                <i id="projectGoalsIcon" class="fa fa-flag-checkered prefix fa-7x"></i>
                                <input type="text" id="projectGoals" class="form-control" aria-describedby="passwordHelpBlockMD">
                                <label id="projectGoalsLabel" for="projectGoals">Крайните цели на проекта*</label>
                                <small id="passwordHelpBlockMD" class="form-text text-muted">
                                    Тук можеш да опишеш какви са крайните цели на твоя проект.
                                </small>
                            </div>
                            <div class="md-form form-lg">
                                <input type="text" id="projectGoals2" class="form-control">
                                <label for="projectGoals2">Крайните цели на проекта</label>
                            </div>
                            <div class="md-form form-lg">
                                <input type="text" id="projectGoals3" class="form-control">
                                <label for="projectGoals3">Крайните цели на проекта</label>
                            </div>
                            <div class="md-form form-lg">
                                <i class="fa fa-github-alt prefix fa-7x"></i>
                                <input type="text" id="github-page" class="form-control">
                                <label for="github-page">Github страница на проекта</label>
                            </div>
                        </div>
                    </div>
                    <div id="step-3" class="">
                        <div class="form-margins">
                            <i class="fa fa-expand prefix fa-7x"></i> Препоръчително е главната снимка да е 1920px широка на 1080px висока.
                            <br>
                            <i class="fa fa-image prefix fa-7x"></i> Трябва да има минимум две снимки.
                            <br>
                            <i class="fa fa-image prefix fa-7x"></i> Първата снимка, която качиш ще се използва за главна снимка на проекта.
                            <div id="fine-uploader" style="margin-top: 15px; margin-bottom: 15px;">
                            </div>
                            <div class="md-form form-lg">
                                <i class="fa fa-youtube prefix fa-7x"></i>
                                <input type="text" id="video-of-project" class="form-control">
                                <label for="video-of-project">Линк към видео на проекта ти</label>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form form-lg">
                                        <i class="fa fa-youtube prefix fa-7x">

                                        </i>
                                        <input type="text" id="countryCode" class="form-control">
                                        <label for="countryCode">Код на страната(със +)</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="md-form form-lg">
                                        <i class="fa fa-youtube prefix fa-7x">

                                        </i>
                                        <input type="text" id="telephone" class="form-cntrol">
                                        <label for="telephone">Телефонен номер на създателя (10 цифри)</label>
                                        <small id="telephoneHelpBlock" class="form-text text-muted">
                                            Ще ти изпратим SMS на този телефонен номер за да го потвърдиш.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wizard-for-creating -->

    <!-- -------------JS------------------- -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!-- Popups -->
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <!-- Material-design-bootsrap -->
    <script type="text/javascript" src="/static/js-mdb/popper.min.js"></script>
    <script type="text/javascript" src="/static/js-mdb/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js-mdb/mdb.min.js"></script>

    <!-- Popups -->
    <script src="/static/js/iziToast.min.js" type="text/javascript"></script>

    <!-- Radio-buttons -->
    <script src="/static/js/switchery.js"></script>

    <!-- Jquery-ui -->
    <script src="/static/js/jquery-ui.min.js"></script>

    <!-- Uploader-for-pictures -->
    <script src="/static/js/fine-uploader.core.min.js"></script>
    <script src="/static/js/jquery.fine-uploader.js"></script>
    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Пусни файловете тук">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Избери снимки за проекта</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

    <!-- Wizard-with-steps -->
    <script type="text/javascript" src="/static/js/jquery.smartWizard.min.js"></script>

    <!-- Modal-dialog -->
    <script src="/static/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-default'</script>

    <!-- Main-JS -->
    <script src="/static/js/create-project.js"></script>
    <script src="/static/js/vendor.js"></script>
</body>

</html>